<section class="chat">

<section class="chat__section">
    <div class="brand">
        <img height="40" width="40" src="/img/chat.png" alt="error">
        <h1 class="h1">Hey!</h1>
    </div>
    <div class="message__area"></div>
     <div>
            <textarea id="textarea" cols="30" rows="1" placeholder="Write a message..."></textarea>
        </div>
</section>

<script src="/socket.io/socket.io.js"></script>
    <script>
        const socket=io()
        let name;
        let textarea = document.querySelector('#textarea')
        let messageArea = document.querySelector('.message__area')

        if(!name){
        name = prompt('Please enter your name: ')
        }
        
        textarea.addEventListener('keyup', (e) => {
        if(e.key === 'Enter') {
        sendMessage(e.target.value)
       }
        })

        function sendMessage(message) {
        let msg = {
        user: name,
        message: message.trim()
    }

//append
appendMessage(msg,'outgoing')
textarea.value=''
scrollToBottom()
//send to server
socket.emit('message',msg)

}

function appendMessage(msg, type) {
    let mainDiv = document.createElement('div')
    let className = type
    mainDiv.classList.add(className, 'message')

    let markup = `
        <h4>${msg.user}</h4>
        <p>${msg.message}</p>
    `
    mainDiv.innerHTML = markup
    messageArea.appendChild(mainDiv)
}

// Recieve messages 
    socket.on('message', (msg) => {
    appendMessage(msg, 'incoming')
    scrollToBottom()
})

function scrollToBottom() {
    messageArea.scrollTop = messageArea.scrollHeight
}


    </script>

</section>