<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Node App</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap" rel="stylesheet">
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    <link  rel="stylesheet" href="/css/app.css">
    <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
</head>
<body>
    <nav class="container mx-auto w-5/6 flex items-center justify-between py-4">

      <div>
         <a href="/"> <img src="/img/logo3.jpg" alt="logo" width="65px" class="pk" ></a>
      </div>

      <div>
        <ul class="flex items-center">
           <li class="ml-6"><a href="/electronics">Electronics</a></li>
           <li class="ml-6"><a href="/mobiles">Mobiles</a></li>
           <li class="ml-6"><a href="clothes">Clothes</a></li>
           <li class="ml-6"><a href="grocery">Grocery</a></li>
           <li class="ml-6"><a href="sports">Sports</a></li>
           <li class="ml-6"><a href="food">Food</a></li>

           <div class="ml-20">
            <a href="/chat"><button class="btn-primary py-1 px-4 rounded-full  font-bold text-white">Chat Now</button></a>
        </div>
        </ul>
    </div>

        <div>
            <ul class="flex items-center">
                <li class="ml-6"><a href="/">Home</a></li>
                <% if(user){%>
                    <li class="ml-6">
                      <form id="logout" action="/logout" method="POST">  <a  href="#" onclick="document.getElementById('logout').submit()">Logout</a></form>
                    </li>
                    <li class="ml-6"><a href="/customer/orders">Orders</a></li>
                <% } else { %>
                <li class="ml-6"><a href="/register">Register</a></li>
                <li class="ml-6"><a href="/login">Login</a></li>
                <%}%>
               <li class="ml-6" ><a href="/cart" class="inline-block px-4 py-2 rounded-full flex items-center">
                   <span id="cartCounter" class="text-white font-bold pr-2"><%=session.cart ? session.cart.totalQty:'' %></span><img src="/img/cart.png" alt=""></a></li>
            </ul>
        </div>
    </nav>
    <%- body %>
    <footer class="footer-1 bg-gray-100 py-8 sm:py-12 mt-12">
        <div class="container mx-auto px-4">
          <div class="sm:flex sm:flex-wrap sm:-mx-4 md:py-4">
            <div class="px-4 sm:w-1/2 md:w-1/4 xl:w-1/6 mt-8 md:mt-0 mx-auto">
              <h5 class="text-xl font-bold mb-6">Links</h5>
              <ul class="list-none footer-links">
                <li class="mb-2">
                  <a href="/" class="border-b border-solid border-transparent hover:border-purple-800 hover:text-purple-800">Home</a>
                </li>
                <li class="mb-2">
                  <a href="/register" class="border-b border-solid border-transparent hover:border-purple-800 hover:text-purple-800">Register</a>
                </li>
                <li class="mb-2">
                  <a href="/login" class="border-b border-solid border-transparent hover:border-purple-800 hover:text-purple-800">Log in</a>
                </li>
                <li class="mb-2">
                  <a href="cart" class="border-b border-solid border-transparent hover:border-purple-800 hover:text-purple-800">Cart</a>
                </li>
                <li class="mb-2">
                    <a href="/chat" class="border-b border-solid border-transparent hover:border-purple-800 hover:text-purple-800">Chat</a>
                  </li>
              </ul>
            </div>
            <div class="px-4 sm:w-1/2 md:w-1/4 xl:w-1/6 mt-8 md:mt-0">
              <h5 class="text-xl font-bold mb-6">Contact</h5>
              <ul class="list-none footer-links">
                <li class="mb-2">Kursi road Lucknow,</li>
                  <li class="mb-2">Near Baddupur kotwali,</li>
                  <li class="mb-2">Pin code- 225306,</li>
                  <li class="mb-2">Mobile- 7379225705,</li>
                  <li class="mb-2">ashwini.verma.564@gmail.com</li>
              </ul>
            </div>
            <div class="px-4 sm:w-1/2 md:w-1/4 xl:w-1/6 mt-8 sm:mt-0 mx-auto">
                <h5 class="text-xl font-bold mb-6">About Developer</h5>
                <p>Hey! everyone my name is Ashwini Kumar. I am a computer engineer and full stack web developer
                    I love to teach whatever I know, stay happy😊😊</p>
              </div>
            <div class="px-4 mt-4 sm:w-1/3 xl:w-1/6 sm:mx-auto xl:mt-0 xl:ml-auto">
              <h5 class="text-xl font-bold mb-6 sm:text-center xl:text-left">Stay connected</h5>
              <div class="flex sm:justify-center xl:justify-start">
                <a target="_blank" href="https://accounts.google.com/ServiceLogin/signinchooser?service=mail&passive=1209600&osid=1&continue=https%3A%2F%2Fmail.google.com%2Fmail%2Fu%2F0%2F&followup=https%3A%2F%2Fmail.google.com%2Fmail%2Fu%2F0%2F&emr=1&flowName=GlifWebSignIn&flowEntry=ServiceLogin"  class="w-8 h-8 border border-2 border-gray-400 rounded-full text-center py-1 ml-2 text-gray-600 hover:text-white hover:bg-blue-600 hover:border-red-600">
                    <img src="/img/gmail.png">
                </a>
                <a target="_blank" href="https://www.linkedin.com/in/ashwini-verma-023244195/"  class="w-8 h-8 border border-2 border-gray-400 rounded-full text-center py-1 ml-2 text-gray-600 hover:text-white hover:bg-blue-400 hover:border-red-400">
                    <img src="/img/linkdin.png">
                </a>
                <a target="_blank" href="https://www.icloud.com/"  class="w-8 h-8 border border-2 border-gray-400 rounded-full text-center py-1 ml-2 text-gray-600 hover:text-white hover:bg-blue-600 hover:border-red-600">
                    <img src="/img/icloud.png">
                </a>
                <a target="_blank" href="https://twitter.com/Ashwini06912003"  class="w-8 h-8 border border-2 border-gray-400 rounded-full text-center py-1 ml-2 text-gray-600 hover:text-white hover:bg-blue-600 hover:border-red-600">
                    <img src="/img/twitter.png">
                </a>
              </div><br>
              <p>Anyone can call or text me on my whatsapp number 7379225705, thanks for visiting site</p>
            </div>
          </div>
      </footer>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/app.js"></script>
</body>
</html>