<section class="orders light-section">
    <div class="container mx-auto pt-12 w-5/6">
        <h1 class="font-bold text-lg mb-4">All orders</h1>
    
    <table class="w-full table-auto bg-white"> 
     <thead>
        <tr>
            <th class="text-left px-4 py-2 border ">Orders</th>
            <th class="text-left px-4 py-2 border ">Customers</th>
            <th class="text-left px-4 py-2 border ">Address</th>
            <th class="text-left px-4 py-2 border ">Status</th>
            <th class="text-left px-4 py-2 border ">Placed at</th>
            <th class="text-left px-4 py-2 border ">Payment status</th>
        </tr>
        </thead>
        <tbody id="orderTableBody">
        
        </tbody>
</table>
        
    </div>
</section>