// Colors
$primary:#4ABDAC;                         //#008CBA;0ba6ff
$primary-hover:#66CDAA;  
$secondary: #F8F8F8;
$pure: #fff;
$dark: #232323;
$gray: #ccc;

// Transition 
$smooth: all .3s ease-in-out;